body {
    background: black;
    color: LightBlue;
    font-family: Bahnschrift, regular;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: black;
    color: LightBlue;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: black;
    color: LightBlue;
}

a {
    color: blue;
    text-decoration: none;
}
